<div>
  <form [formGroup]="eventForm" (ngSubmit)="addEvent()">
    <label for="title">*Title: </label>
    <input id="title" formControlName="title" required />
    <br />
    <label for="description">Description: </label>
    <input id="description" formControlName="description" />
    <br />
    <label for="place">*Place: </label>
    <input id="place" formControlName="place" required />
    <br />
    <label for="date">*Date: </label>
    <input id="date" type="date" formControlName="date" required />
    <br />
    <label for="price">*Price: </label>
    <input id="price" type="number" formControlName="price" required />
    <br />
    <p>*: mandatory fields</p>
    <button type="submit" [disabled]="!eventForm.valid">Add event</button>
  </form>
  <p>Result: {{ error }}</p>
</div>