<h1>{{ title }}</h1>
<nav>
  <button type="button" (click)="toggleEditor('users')">Users</button>
  <button type="button" (click)="toggleEditor('events')">Events</button>
  <button type="button" (click)="toggleEditor('subscriptions')">Subscriptions</button>
</nav>
<br/>
<div *ngIf="showUserContent">
    <app-user-list></app-user-list>
    <hr/>
    <app-user-creator></app-user-creator>
</div>
<div *ngIf="showEventContent">
    <app-event-list></app-event-list>
    <hr/>
    <app-event-creator></app-event-creator>
</div>
<div *ngIf="showSubscriptionContent">
    <app-subscription-list></app-subscription-list>
    <hr/>
    <app-subscription-creator></app-subscription-creator>
</div>

