body {
    background-color: cornsilk;
    font-family: Verdana, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

p {
    margin-bottom: 1%;
}

app-user-creator,
app-event-creator,
app-subscription-creator {
    justify-content: right;
}